## macOS
##
## https://github.com/github/gitignore/blob/main/Global/macOS.gitignore

# General
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
# Finder custom icons
# https://github.com/github/gitignore/commit/720975f849ce5424393b6bbb92b038da78d50c57
# https://github.com/github/gitignore/commit/da36175ff6de9673ad54959fc5d66835755093e8
# https://github.com/github/gitignore/commit/7b35656e7517d529f183f78c5ec33e3e741bd049
# https://github.com/github/gitignore/pull/4753
Icon[^!-~]

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## mise
##
## https://github.com/github/gitignore/blob/main/Global/mise.gitignore

# https://mise.jdx.dev/configuration.html
# https://mise.jdx.dev/configuration/environments.html
.mise.*.local.toml
.mise.local.toml
mise.*.local.toml
mise.local.toml
.mise/*.local.toml
mise/*.local.toml

# https://mise.jdx.dev/configuration.html#tool-versions
#.tool-versions

## VSCode
##
## https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

## Windows
##
## https://github.com/github/gitignore/blob/main/Global/Windows.gitignore

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

## Misc
##
##
.env
.env.*
!.env.local
[Tt][Oo][Dd][Oo]*
.copy
.hevc
.mkv
.rpu.bin
